.btn {
    display: inline-block;
    padding: 1.2rem 1.6rem;
    margin: 0;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.4);
    background-color: #40b8ea;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}

.btn:hover {
    background-color: #66cdf8;
}

.btn:active {
    bottom: -0.1rem;
    background-color: #a2e9ff;
}