.textInput {
    margin: 0 0.4rem;
    padding: 0.8rem;
    border: none;
    border-bottom: 0.2rem solid rgba(191, 211, 233, 1);
    outline: none;
    background: none;
    transition: 0.4s;
    font: normal normal 1.6rem/1 Roboto, sans-serif;
    text-align: center;
    color: rgba(191, 211, 233, 1);
}

.textInputFilled {
    color: #fff;
    border-bottom: 0.2rem solid #fff;
}

.textInput::placeholder {
    color: #dffff8;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.textInput:focus, .textInput:hover {
    border-bottom: 0.2rem solid #fff;
    color: #fff;
}
