.wrap {
    padding: 1.6rem;
    background-color: #71a5c7;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}

.col {
    max-width: 20%;
    margin: 0 auto;
}

.inputName {
    display: inline-block;
    width: calc(80% - 1.2rem);
    margin-right: 1.2rem;
    padding: 0.4rem 0.8rem;
    box-sizing: border-box;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6)
}

.btnNameEnter {
    display: inline-block;
    box-sizing: border-box;
    width: 20%;
    margin: 0;
    padding: 0.8rem;
    vertical-align: top;
}

.namesBox {
    padding-top: 0.8rem;
}

.namesBox > span {
    display: inline-block;
    padding: 0.4rem 0.8rem 0;
}