.wrap {
    padding: 1.6rem;
    background-color: #71a5c7;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}

.col {
    margin: 0 auto;
}

.inputName {
    display: inline-block;
    margin-right: 1.2rem;
    padding: 0.4rem 0.8rem;
    box-sizing: border-box;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.6)
}

.btnNameEnter {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 0.4rem;
    padding: 1.2rem 1.6rem;
    vertical-align: top;
}

.namesBox {
    padding-top: 0.8rem;
}

.namesBox > span {
    display: inline-block;
    padding: 0.4rem 0.8rem 0;
}